.topBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  gap: 1.5rem;
}

.addTaskBtn {
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  background-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTaskBtn:hover {
  background-color: #0069d9;
}

.addTaskIcon {
  font-weight: 600;
  margin-right: 5px;
  font-size: 16px;
}

.search {
  border: none;
  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  background-color: white;
}

.searchBar {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  letter-spacing: 1px;
  font-size: 14px;
  border: 1px solid #ccc;
}

.searchBar:focus {
  border: 1px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.searchBtn {
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.select {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  border: 1px solid #ccc;
  padding-right: 1rem;
  appearance: none;
  cursor: pointer;
}

.option {
  padding: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  appearance: none;
}

.filterSelect {
  width: 15rem;
}

@media screen and (max-width: 700px) {
  .topBar {
    flex-direction: column;
    gap: 0.5rem;
  }

  .search {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .search {
    width: 90%;
  }
}
